# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [4]:
import numpy as np 
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [5]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [19]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [9]:
salaries.shape

(33183, 8)

In [8]:
# Your code here:
salaries.isna().count()

Name                 33183
Job Titles           33183
Department           33183
Full or Part-Time    33183
Salary or Hourly     33183
Typical Hours        33183
Annual Salary        33183
Hourly Rate          33183
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [27]:
salaries['Full or Part-Time'].value_counts()

F    31090
P     2093
Name: Full or Part-Time, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [16]:
# Your code here:
salaries.groupby('Department').agg({'Name':'count'})

                        Name
Department
ADMIN HEARNG              39
ANIMAL CONTRL             81
AVIATION                1629
BOARD OF ELECTION        107
BOARD OF ETHICS            8
BUDGET & MGMT             46
BUILDINGS                269
BUSINESS AFFAIRS         171
CITY CLERK                84
CITY COUNCIL             411
COMMUNITY DEVELOPMENT    207
COPA                     116
CULTURAL AFFAIRS          65
DISABILITIES              28
DoIT                      99
FAMILY & SUPPORT         615
FINANCE                  560
FIRE                    4641
GENERAL SERVICES         980
HEALTH                   488
HUMAN RELATIONS           16
HUMAN RESOURCES           79
INSPECTOR GEN             87
LAW                      407
LICENSE APPL COMM          1
MAYOR'S OFFICE            85
OEMC                    2102
POLICE                 13414
POLICE BOARD               2
PROCUREMENT               92
PUBLIC LIBRARY          1015
STREETS & SAN           2198
TRANSPORTN              1140
TREASURER                 22
WATER MGMNT             1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [36]:
# Your code here:
import numpy as np
from scipy.stats import t
from scipy.stats import ttest_1samp

In [6]:
PartTime = salaries[salaries['Full or Part-Time'] == 'P']

In [30]:
total_partTime = 2093

In [34]:
media_horas = PartTime['Hourly Rate'].mean()
media_horas

17.191922525107845

In [57]:
#Hipótesis nula: el salario/h está alejado de la media
#No podemos rechazar la hipótesis nula porque el salario/h (17), está alejado de la media(30)
#Hay suficiente evidencia estádistica para demostrar que se cumple la hipótesis nula porque el pvalor 
#está por debajo de alfa

In [53]:
new = PartTime['Hourly Rate'].dropna().tolist()

In [56]:
t_test=ttest_1samp(new, 30, alternative='less')

t_test

Ttest_1sampResult(statistic=-87.09790442396911, pvalue=0.0)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [71]:
# Your code here:
#Filtro por el departamento de policia
pol = salaries.loc[salaries['Department'] == 'POLICE']
#Con el filtro, selecciono la columna de salario anual, borro nans y lo convierto a lista
police = pol['Annual Salary'].dropna().tolist()

In [79]:
pol['Annual Salary'].mean()

86486.41450313339

In [73]:
#Hipótesis nula(H0): 
#H1: Hipotesis que plantea el investigador:Sueldos más altos que la media del año pasado

In [82]:
#Podemos rechazar la hipótesis nula ya que los salarios de este año son superiores a los del año anterior
#El pvalor está por debajo de 0,05 alfa/umbral

In [77]:
media_anterior = 86000
t_test=ttest_1samp(police, 86000, alternative='greater')

t_test

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0010301701775482569)

Using the `crosstab` function, find the department that has the most hourly workers.

In [87]:
#PartTime

In [91]:
# Your code here:
table=pd.crosstab(salaries.Department, PartTime['Typical Hours'])
table

Typical Hours          10.0  20.0  35.0  40.0
Department
ANIMAL CONTRL             1    18     0     0
AVIATION                  0    18     0     0
BUSINESS AFFAIRS          0     7     0     0
CITY COUNCIL              7    35     6     1
COMMUNITY DEVELOPMENT     0     3     0     0
FAMILY & SUPPORT          0   286     0     0
FINANCE                   0     2     0     0
HUMAN RESOURCES           0     2     2     0
LAW                       0     1     0     0
MAYOR'S OFFICE            0     1     0     0
OEMC                      0  1229     0     0
POLICE                    0    10     0     0
PUBLIC LIBRARY            0   288     0     0
STREETS & SAN           174     0     0     0

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [103]:
# Your code here:
#De los trabajadores por horas, buscamos los que pertenecen a el departamento OEMC
oemc = PartTime.loc[PartTime['Department'] == 'OEMC']
OEMC = oemc['Hourly Rate'].dropna().tolist()

In [105]:
#Hipótesis nula(H0): 
#H1: Hipotesis que plantea el investigador: Precio de la hora es más bajo que 35
oemc['Hourly Rate'].mean() #media por hora

18.531228641171882

In [106]:
t_test=ttest_1samp(OEMC, 35, alternative='less')

t_test

Ttest_1sampResult(statistic=-237.7457031601366, pvalue=0.0)

In [108]:
#Podemos rechazar la hipótesis nula, con un intérvalo de confianza del 95%, 
#ya que el pvalor está por de bajo del umbral alfa

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [9]:
# Your code here:

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [12]:
# Your code here:

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [110]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

In [112]:
PartTime_Chicago = salaries[salaries['Full or Part-Time'] == 'P']

In [124]:
Part = PartTime_Chicago['Full or Part-Time'].count()
Part

2093

In [129]:
All = salaries['Full or Part-Time'].count()
All

33183

In [125]:
result = Part / All
result

0.06307446584094265

H 0 : La proporción de trabajadores por horas es de 0,06 (p= 0,06)

H 1: La proporción de trabajadores por horas es de 0,06 (p≠ 0,06)

In [126]:
alfa = 0.05

In [ ]:
'''No podemos rechazar la hipótesis nula porque supera el umbral'''